.vertical-block {
      margin-top: -20px;
      margin-bottom: -20px;
  }
.vertical-md-block {
    @include media-breakpoint-up(md) {
      margin-top: -20px;
      margin-bottom: -20px;
    }
  }
.vertical-content{
  max-height: 420px;
}
.image-height{
    min-height:250px;
    height: 100%;
}